.ms__bg__header{
    background-color: #2c3e50;
}

#jumbotron{
    padding-top: 100px;
}

.ms__bg__green{
    background-color: #1abc9c;
}

.ms__color__green{
    color: #1abc9c;
}


.ms__bg__footer_top{
    background-color: #3a546d;
}

.ms__bg__footer_bottom{
    background-color: #2c3e50;
}

.linea{
    width: 200px;
    height: 2px;
    background-color: #fff;
}

.navbar-nav.ms-auto .nav-item:hover a{
    color: #1abc9c;
}

.star::before, .star::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 5px;
    background-color:#000;
  }

  .star_white::before, .star_white::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 5px;
    background-color: #fff;
  }
